body{
    background-color: black !important;
    font-family: 'Roboto' !important;
    color: #eee !important;
}
.search-bar {
    margin: 20px 20px 50px 20px;
    text-align: center;
}

.search-bar input {
    width: 75%;
    padding: 1%;
    color: black !important;
}

.video-item img {
    max-width: 64px;
}

.video-detail details {
    margin-top: 2%;
    padding: 10px;
    border-bottom: 1px solid #ddd !important;
    border-radius: 4px;
}

.list-group-item {
    cursor: pointer;
    background-color: black !important;
    font-size: small !important;
    border-bottom: 1px solid white !important;
}

.list-group-item :hover {
    background-color: black !important;
}